/* CSS Document */
button{ margin: 20px 5px; padding: 35px 10px!important;margin-left:25%!important; }
.search{ margin-top:10px;position: relative; }
.enterbutton {margin-bottom: 5px; }
.margin{ margin: 10px;}
p, button{ font-size: 2em; }
